[Unit]
Description=sends an email when server is online
After=network-online.target

[Service]
Type=idle
Restart=always
RestartSec=1800
WorkingDirectory= /home/ubuntu/workflow/

ExecStart=/bin/bash /home/ubuntu/workflow/ping-me.sh

[Install]
WantedBy=network-online.target
